#!/usr/bin/make -f
export DH_OPTIONS

DEBARCH:=$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DH_VERBOSE=1

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

override_dh_auto_clean:
	dh_clean

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCCCORELIB_USE_CGAL=OFF \
		-DCCCORELIB_USE_TBB=OFF \
		-DCCCORELIB_USE_QT_CONCURRENT=ON \
		-DCCCORELIB_SHARED=ON \
		-DCCCORELIB_SCALAR_DOUBLE=OFF

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/cloudcompare $(DEBARCH)
